*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
img{
    max-width: 100%;
    height: auto;
    display: block;
  }
:root{
    --header-height: 3rem;
    --font-semi: 600;
}
  
  /*===== Fuente y tipografia =====*/
  :root{
    --body-font:-apple-system,sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
  }
  @media screen and (min-width: 768px){
    :root{
      --big-font-size: 3.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
    }
  }
  
  /*===== Margenes =====*/
  :root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  }
  
  /*===== z index =====*/
  :root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }

:root{
    --primary-color:#edf2fc;
    --secondary-color:#212121;
}
.dark-theme{
    --primary-color:#2e2e2e;
    --secondary-color:#fff;
}

#icons{
    width: 30px;
    cursor: pointer;
}

.main{
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}
#about,#skills,#work,#contact{
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

nav ul{
    flex: 1;
    text-align: right;
}

/*----design nav bar----*/
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*----design logo----*/
.logo{
    width: 50px;
    cursor: pointer;
    
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);

}
nav ul li a:hover{
    color: #ff4321;
}

.info{
    margin-left: 7%;
    margin-top: 15%;

}
.info h1{
    font-size: 66px;
    color: var(--secondary-color);
    margin-bottom: 20px;

}
span{
    color: #ff4321;
}
.info p,.about__text,.skills__text,.skills__subtitle,.about__subtitle {
    color: var(--secondary-color);
    line-height: 22px;
}
.info a{
    background:  var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    color:var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
}
.info a:hover{
    color: white;
    background: rgb(228, 44, 12);
}
.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s,left 1s;
}
.img-box:hover .back-img{
    bottom: 40px;
}
.img-box:hover .main-img{
    left:54%;
}

.social-links{
    margin-left: 7%;
    margin-top: 0;
}
.social-links a{
    font-size: 30px;
    color:var(--secondary-color);
    margin-right: 20px;
}


/*.social-links a:hover{
    color: #ff4321;
}*/
.fa-instagram:hover{
    color: rgb(165, 31, 228);
}
.fa-twitter:hover,.fa-facebook:hover{
    color: rgb(9, 131, 212);
}
.fa-discord:hover{
    color: #7289da;
}


.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
    height: 16px;
    width: 41px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
/*===== CLASS CSS ===== */
.section-title{
    position: relative;
    /* font-size: var(--h2-font-size); */
    /* color: var(--first-color); */
    margin-top: var(--mb-2);
    /* margin-bottom: var(--mb-4); */
    text-align: center;
    font-size: 41px;
    color: var(--secondary-color);
    margin-bottom: 20px;
  }
  .section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--secondary-color);
  }
  .section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* ===== ABOUT =====*/
.about__container{
    row-gap: 2rem;
    text-align: center;
  }
  .about__subtitle{
    margin-bottom: var(--mb-2);
  }
  .about__img{
    justify-self: center;
  }
  .about__img img{
    width: 300px;
    /* border: 2px solid black; */
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 1px 2px 20px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px -8px 15px #ffffff;
}
.about_content{
    margin-top: -50px;
    padding: 0px;
    word-spacing: 1px;
}
/*.about_hire{
    display: inline-block;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: ;
    
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--secondary-color);
    transition: all 0.3s ease;
}*/
.about_content a{
    font-size: 20px;
    font-weight: 500;
    background:  var(--secondary-color);
    padding: 10px 25px;
    text-decoration: none;
    color:var(--primary-color);
    display: inline-block;
    margin: 25px 0;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.about_content a:hover{
    color: white;
    background: rgb(228, 44, 12);
}
  
  
 /* ===== SKILLS =====*/
.skills__container{
    row-gap: 2rem;
    text-align: center;
  }
  .skills__subtitle{
    margin-bottom: var(--mb-2);
  }
  .skills__text{
    margin-bottom: var(--mb-4);
  }
  .skills__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    /*box-shadow: inset 4px 3px 3px #cbced1, inset -3px -3px 6px #ffffff;*/
    /*margin-block: auto;*/
  }
  .skills__icon{
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
  }
  .skills__names{
    display: flex;
    align-items: center;
  }
  .skills__bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
  }
  .skills__html{
    width: 95%;
  }
  .skills__css{
    width: 85%;
  }
  .skills__js{
    width: 65%;
  }
  .skills__ux{
    width: 85%;
  }
  .skills__img{
    border-radius: .5rem;
}
.wrap{
    max-width: 40%;
    margin: 8px 7px 5px;
}
.bar__{
    color: var(--secondary-color);
    letter-spacing: 1px;
    font-weight: 10px;
    position: relative;
}
.bar__{
    display: inline-block;
    margin-bottom: 3px;
    width: 100%;
}
.span{
    position: relative;
    display: inline-block;
    width: 312%;
    height: 20px;
    background: black;
    border-radius: 50px;
}
.span1{
    position: relative;
    display: inline-block;
    width: 435%;
    height: 20px;
    background: black;
    border-radius: 50px;
}
.span2{
    position: relative;
    display: inline-block;
    width: 388%;
    height: 20px;
    background: black;
    border-radius: 50px;
}
.span3{position: relative;
    display: inline-block;
    width: 640%;
    height: 20px;
    background: black;
    border-radius: 50px;
}
 .span1::before,.span::before,.span2::before,.span3::before{
    position: absolute;
    content: "";
    top: 5px;
    left: 5px;
    width: 80%;
    height:50%;
    background: linear-gradient(to left,#ff0057,#ffeb3b);
    border-radius: 50px;
    animation: bar__ 3s ease;
}
@keyframes bar__{
    from{
        width: 0;
    }
}
.span:before{
    width:60%;
}
.span1:before{
    width:75%;
}
.span2:before{
    width:30%;
}
.span3:before{
    width:80%;
}
abbr{
    width: 50px;
    display: inline-block;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    line-height: 35px;
    position: absolute;
    top: 17px;
    z-index: 1;
    background: linear-gradient(to left,#ff0057,#ffeb3b);
    box-shadow: 0 5px 20px #ff0057, 0 5px 20px #ffeb3b;
    animation: count 3s ease;
}
@keyframes count{
    from{
        left: 0%;
    }
}
.abbr{
    left: 157%;
}
.abbr1{
    left:285%;
}
.abbr2{
    left:80%;
}
.abbr3{
    left:450%;
}

/* ===== WORK =====*/
.work__container{
    row-gap: 2rem;
  }
  .work__img{
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: .5rem;
    overflow: hidden;
  }
  .work__img img{
    transition: 1s;
    cursor: pointer;
  }
  .work__img img:hover{
    transform: scale(1.1);
  }
  
  /* ===== CONTACT =====*/
  .contact__input{
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
  }
  .contact__button{
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
  }
  /* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
    body{
      margin: 0;
    }
    .section{
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .section-title{
      margin-bottom: var(--mb-6);
    }
    .section-title::after{
      width: 80px;
      top: 4rem;
    }
  
    .nav{
      height: calc(var(--header-height) + 1rem);
    }
    .nav__list{
      display: flex;
      padding-top: 0;
    }
    .nav__item{
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
    .nav__toggle{
      display: none;
    }
    .nav__link{
      color: var(--second-color);
    }
  
    .home{
      height: 100vh;
    }
    .home__data{
      align-self: flex-end;
    }
    .home__social{
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;
    }
    .home__social-icon{
      margin-bottom: 0;
      margin-right: var(--mb-4);
    }
    .home__img{
      width: 457px;
      bottom: 15%;
    }
  
    .about__container, .skills__container{
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      text-align: initial;
    }
    .about__img img{
      width: 300px;
    }
    .work__container{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2,1fr);
      column-gap: 2rem;
    }
    .contact__form{
      width: 360px;
    }
    .contact__container{
      justify-items: center;
    }
}
  
  @media screen and (min-width: 1024px){
    .bd-grid{
      margin-left: auto;
      margin-right: auto;
    }
    .home__img{
      right: 10%;
    }
}
  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 300px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
}

.mh-professional-progress li{
  display: inline-block;
  margin: 0 auto;
  float: none;
  width: 44%;
  margin-bottom: 30px;
  text-align: center;
}
.mh-progress{
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  width: 197px;
  padding: 3px;
  letter-spacing: 5px;
}
.mh-progress .progressbar-text{
  color: inherit !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.progressbar-text{
  -webkit-text-stroke-width: thick;
}
.progress.progress-line{
  height: 10px;
  margin-right: 60px;

}

.progress.progress-line .progressbar-text{
  position: absolute;
  top: 50%;
  left: 100%;
  width: 60px;
  transform: translateY(-35%);
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.mh-progress.mh-progress-circle{
  display: inline-block;
  width: 100px;
  height: 100px;
}
.mh-progress path:nth-child(1){
  stroke:rgba(213 208 208 / 70%);
}
.mh-progress path:nth-child(2){
  stroke: #e41934 !important;
}
#professional_skills__{
  color:var(--secondary-color);
  font-size: 20px;
}


/**----our team----*/
#team{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--primary-color);
}
/*.heading{
    font-size: 41px;
    color:var(--secondary-color);
    display:flex;
    align-items: center;
    margin: 20px;
}*/
.section-title i{
    background-color:#ffeb3b/* #2c3e74b0*/;
    box-shadow: 3px 6px 20px rgb(255 0 0);
    color: var(--secondary-color);
    width: 55px;
    height: 42px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* font-size: 0.9rem; */
    margin: 1px 18px;
}

.box{
    width: 220px;
    height: 246px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 20px;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.top-bar{
    width: 50%;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background-color: #ff4321;
    border-radius: 0px 0px 10px 10px;
}
.verify{
    color: #17b667;
}
.nav--{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-- .heart{
    color: rgba(155,155,155);
    font-weight: bolder;
}
.nav-- .heart:before{
    content:'\f004';
    font-family: fontAwesome;
    line-height: 30px;
    z-index: 1;
    font-size: 25px;
}
.nav-- .heart-btn:checked ~ .heart:before{
    color: #e41934;
    
}
.nav-- .heart-btn{
    display: none;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
.details strong{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color:black;
    letter-spacing: 1px;
    margin-top: 10px;
}
.details p{
    font-size: 0.8rem;
    color: #7a7a7a;
    margin:5px 0px;
}
.details h4{
  margin-top: 5px;
  letter-spacing: .5px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left,#ff8c96,#eaacfe);
  border-radius: 47px;
}
.btn{
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn a{
    color: #090909;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 0.9rem;
    text-decoration: none;
}
.btn a i{
    margin-right:10px;
}
.btn a:hover{
    color: #fff;
    background-color: #ff4321;
    box-shadow: 2px 5px 15px rgba(252, 80, 80, 0.5);
    transition: all ease 0.2s;
}
.box:hover{
    box-shadow: 2px 2px 30px rgba(4,15,49,0.1);
    transform: scale(1.01);
    transition: all ease 1s;
}

/*----contact section ---- */
.container--- {
  position: relative;
  /*width: 94%;*/
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--primary-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #ff735a;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #ca452e);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #ff6145;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color:var(--primary-color);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 88%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn___ {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #ff4321;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn___:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #ff4321;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
  background-color: var(--primary-color);
}

.contact-info .title {
  color:var(--secondary-color);
}

.text {
  color:var(--secondary-color);
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: var(--secondary-color);
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 49px;
    font-size: 30px;
    height: 56px;
    border-radius: 5px;
    /* background: linear-gradient(
45deg
, #1abc9c, #149279); */
    color: var(--secondary-color);
    text-align: center;
    line-height: 60px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #ff4321;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 430px;
  height: 473px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #ff6c52, #93210d);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color:var(--primary-color);
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn___ {
    padding: 0.45rem 1.2rem;
  }
}